[submodule "DProject.Dependencies/MonoGame.Extended"]
	path = DProject.Dependencies/MonoGame.Extended
	url = https://github.com/LutzenH/MonoGame.Extended.git
	branch = FNA
[submodule "DProject.Dependencies/bepuphysics2"]
	path = DProject.Dependencies/bepuphysics2
	url = https://github.com/LutzenH/bepuphysics2
[submodule "DProject.Dependencies/FNA"]
	path = DProject.Dependencies/FNA
	url = https://github.com/FNA-XNA/FNA.git
